extends layout-m

block content
    div.text-center
        div(class="form-signin")
            div.text-center
                img(src="https://media1.tenor.com/images/06ae072fb343a704ee80c2c55d2da80a/tenor.gif", alt="OK", style="width:90%")
                p
                p(style="font-size: 60px") Selamat datang #{username}, Kamu berhasil login!
                p
                p(style="font-size: 60px") Silahkan kembali ke bot atau klik 
                    a(href="http://t.me/testervoucbot") link ini